body{
    background-color:sandybrown;
}
.container{
    display:flex;
    justify-content:space-between;
    margin:50px;
    color:purple;
}

ul{
    list-style: none;
    color:yellowgreen;
}
.button{
    color:white;
}
.containers{
    display:flex;
    justify-content:space-between;
    flex:1;
    margin:10px;
    padding:10px;
    color:purple;
    border-bottom: 2px solid grey;
    width:90%;
}
.containers div{
    width:50px;
}
.center{
    text-align:center;
}

